Q1. What is a database? Differentiate between SQL and NoSQL databases.

-> databases are the structures that are used to stores data , they are also equipped with some function by which thay can work with data , SQL stands for structured query language wheareas NoSQL stands for not only structed query language , sql is used to store data in the form of text and it stored the data in the form of table where the columns of table can be of same or different datatype , Nosql can not only work like sql but it also has some additional features, it can store images,audio,video,etc . example of sql is mysql and for nosql we have mongodb.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

-> DDL stands for data definition language and it is a subset of sql , it is used to work with data ,eg modify,delete,etc

1. CREATE :- it is used to create a new table inside the dataset 
2. DROP :- drop is used to delete an element,column or table from the dataset
3. ALTER :- it is used to uodata the element in the table 
4. TRUNCATE :- it is used to delete all the element of the table without changing the layout of the table 

below is the example for the same

#CREATE 

CREATE DATABASE if not exists test ;
CREATE TABLE if not exist test_table (cl INT ,c2 VARCHAR);

#DROP 
DROP TABLE test;

#ALTER

ALTER TABLE Employees
ADD Email VARCHAR(100);

#TRUNCATE 

TRUNCATE TABLE test;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

->DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manage and manipulate the data stored in a database. DML statements allow you to insert, update, and delete data within database tables.

INSERT: The INSERT statement is used to add new records (rows) to a table. You provide the values for each column in the new row. For example:

sql
Copy code
INSERT INTO Employees (EmployeeID, FirstName, LastName, DepartmentID)
VALUES (1, 'John', 'Doe', 101);
UPDATE: The UPDATE statement is used to modify existing records in a table. You specify the columns and values to be updated and use a WHERE clause to identify which rows to update. For example:

sql
Copy code
UPDATE Employees
SET DepartmentID = 102
WHERE LastName = 'Doe';
DELETE: The DELETE statement is used to remove records from a table. Like with the UPDATE statement, you use a WHERE clause to specify the rows to be deleted. For example:

sql
Copy code
DELETE FROM Employees
WHERE LastName = 'Doe';
These DML statements allow you to manipulate the data stored within the database, enabling you to add, modify, or remove information as needed.

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. The primary DQL statement is SELECT, which is used to query and retrieve specific data from one or more tables.

SELECT: The SELECT statement retrieves data from a table or tables based on specified criteria. It allows you to retrieve specific columns and filter rows using conditions.

Example:

sql
Copy code
SELECT FirstName, LastName
FROM Employees
WHERE DepartmentID = 102;
In this example, the SELECT statement retrieves the first and last names of employees from the "Employees" table where the DepartmentID is 102. The result will be a list of employees who belong to the specified department.


Q5. Explain Primary Key and Foreign Key.


->a primary key uniquely identifies records within a single table, while a foreign key establishes a connection between records in different tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

->import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test")
mycursor.execute("CREATE TABLE if not exists test.test_table(cl1 INT,cl2 VARCHAR(10),cl3 FLOAT)")
mycursor.execute("select * from test.test_table ")
for i in mycursor.fetchall():
    print(i)
    
    
cursor method is used to connect to be the mysql using python , by using cursor we can write the code to mysql by pyton. execute is used to